.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Show */
.navbar.visible {
  transform: translateY(0);
}

/* Hide */
.navbar.hidden {
  transform: translateY(-100%);
}
